@import url('https://fonts.googleapis.com/css2?family=Anton&family=Geist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Electrolize&family=Geist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Anton&family=Electrolize&family=Geist&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior:smooth ;
}

:root{
    --backgorund-color: #010101;
    --light-color: #ffffff;
    --light1-color: #d4d4d4;
    --light2-color: #a1a1a1;
    --dark-color: #0a0a0a;
    --dark1-color: #0f0f0f;
    --black: #000000;
    --accent-color: #dafc44;

    --font-family-anton: 'Anton', sans-serif;
    --font-family-elect:'Electrolize', 'Poppins', sans-serif;
    --font-family-geist: 'Geist', sans-serif;
    --font-family-anta: 'Anta', sans-serif;
    --text-size: 3.5rem;
    --text-medium: 3rem;
    --text-small: 2rem;

    --transition: all 0.3s ease;
    --transition-back: all 0.5s ease-in-out;
    --transition-hover: all 0.3s ease-in-out;
}

body{
    background-color: var(--backgorund-color);
    color: var(--light-color);
    font-family: var(--font-family-elect);
}

.small-text{
    font-size: 0.875rem;
    color: var(--light2-color);
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: var(--light-color);
    transition: color 0.3s ease;
}

nav a::after{
    content: '';
    display: block;
    /* width: 0; */
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

a:hover{
    color: var(--accent-color);
}

a::after:hover{
    width: 100%;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 80px; */
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--light1-color);
    padding: 0.5rem 2rem;
    z-index: 1000;
}

.nav-2{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--light-color);
    font-family: var(--font-family-anton);
}

nav a img, footer logo img{
    width: auto;
    height: 40px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2rem;
    /* margin-left: auto; */
}

.nav-links a{
    font-size: 1rem;
    font-family: var(--font-family-anton);
}

.auth-buttons{
    /* margin-left: auto; */
    display: flex;
    align-items: center;
    
}

.getstarted-span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.getstarted{
    height: max-content;
    text-align: center;
    font-weight: 800;
    background: var(--accent-color);
    padding: 15px 15px;
    transform: skew(-10deg);
    color: var(--dark-color);
    transition: var(--transition-hover);
    font-family: var(--font-family-anta);
}

.getstarted-2{
    background: var(--backgorund-color);
    color: var(--light-color);
    border: 2px solid var(--light-color);
}

.getstarted:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

.hamburger{
    display: none;
    cursor: pointer;
}

hero{
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('assets/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    gap: 2rem;
}

hero-text{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    color: var(--light-color);
    gap: 2rem;
}

hero-text h1{
    /* text-transform: uppercase; */
    font-size: var(--text-size);
    font-family: var(--font-family-anta);
    /* margin-bottom: 1rem; */
}

hero-text h1 span{
    color: var(--accent-color);
    text-transform: uppercase;
    /* animation: textshine 2s infinite; */
    /* background: linear-gradient(90deg, #rgba(0, 102, 204, 0.3) 0%, #3cff52 25%, #rgba(0, 102, 204, 0.3) 50%, #3cff52 75%, #rgba(0, 102, 204, 0.3) 100%); */
    background-size: 200% 100%;
}

hero-text p{
    font-size: 1rem;
    font-family: var(--font-family-geist);
    /* margin-top: 1rem; */
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

hero-cta{
    gap: 2rem;
}

.about-hero{
    height: 700px;
}

.gradient-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background:
    radial-gradient(circle at 0% 100%,   #0066cc4d, transparent 50%),
    radial-gradient(circle at 100% 100%, rgba(204, 0, 102, 0.3), transparent 50%),
    radial-gradient(ellipse at 50% 100%, rgba(102, 0, 204, 0.3), transparent 50%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000);
    background-color: #111; /* fallback */
    background-blend-mode: screen;
    z-index: -1;
}

.chip{
    display: inline-block;
    /* padding: 0.5rem 1rem; */
    color: var(--accent-color);
    font-size: 0.875rem;
    font-family: var(--font-family-anton);
    margin: 1rem 0;
    background: rgba(255, 255, 255, 0.118);
    border-radius: 20px;
}

about, ourstory{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 100%;
    padding: 4rem;
}

.about-text{
    width: 70%;
}

.section-title{
    font-size: var(--text-medium);
    font-family: var(--font-family-anton);
    margin-bottom: 1rem;
    font-weight: 400;
}

.about-text p, ourstory p{
    color: var(--light2-color);
}

.about-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    padding: 2rem;
}

features{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
    margin: 4rem auto;
    gap: 3rem;
}

/* .feature-text{
    width: 70%;
} */

.feature-text h2{
    font-size: var(--text-medium);
    font-family: var(--font-family-anton);
    margin-bottom: 1rem;
    /* font-weight: 600; */
}

.feature-text p{
    color: var(--light2-color);
}

.featurecards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    width: 100%;
}

.individualfeature{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    background: var(--black);
    padding: 2rem;
    /* padding-left: 0; */
    /* border-radius: 10px; */
    transition: var(--transition-hover);
    gap: 1.2rem;
    font-weight: 100;
}

.individualfeature i{
    font-size: 2rem;
    color: var(--accent-color);
}

/* .feature-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.feature-img{
    width: 30%;
    height: fit-content;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer{
    background: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 30px;
}

.footer1 i{
    font-size: 1.5rem;
    color: var(--light2-color);
    text-align: left;
}

.footer-social-links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 20px;
    
}

.footer-links a{
    font-size: 0.875rem;
    color: var(--dark-color);
    text-align: right;
    font-weight: 600;
    padding: 0.2rem;
    background-color: var(--accent-color);
    transform: skew(-10deg);
}

.footer-text{
    width: 100%;
    font-size: 0.75rem;
    color: var(--light2-color);
    text-align: left;
}

ourstory{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--dark1-color);
    padding: 2rem;
    margin:  auto;
}

ourstory .chip{
    color: var(--light-color);
    font-size: 0.875rem;
    font-family: var(--font-family-anton);
    margin-bottom: 1rem;
}

.ourstory-text h2{
    color: var(--light-color);
}

.ourstory-text .getstarted{
    background: var(--accent-color);
    color: var(--dark-color);
    width: max-content;
    margin: 0 auto;
}

.ourstorytextpara{
    color: var(--light2-color);
    font-size: 1rem;
    line-height: 1.5;
    gap: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background: var(--dark1-color);
    padding: 2rem;
    border-radius: 10px; */
}

.os-text1{
    font-size: 1.3rem;
    font-family: var(--font-family-elect);
    padding: 1.3rem;
    color: var(--light-color);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: var(--black);
    /* border-radius: 10px; */
    transform: skew(-10deg);
    width: max-content;
    margin: 0 auto;
}

.os-text1 span{
    color: var(--accent-color);
    font-weight: 400;
    margin-left: 0.5rem;
}

.os-text2{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    font-family: var(--font-family-anta);
    gap: 1rem;
    /* background: var(--black); */
    padding: 1.3rem;
    border-radius: 10px;
    width: 85%;
    margin: 0 auto;
}

.ostext-inside{
    color: var(--light-color);
    font-weight: 400;
    font-size: 1.3rem;
    /* padding-bottom: 1rem; */
}

.bold{
    font-weight: 600;
    color: var(--light-color);
}

.uppercase{
    text-transform: uppercase;
}

.accent-color{
    color: var(--accent-color);
}

.center-text{
    text-align: center;
    /* font-size: 1.3rem; */
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    padding: 4rem ;
    background: var(--dark1-color);
    margin: 0 auto;
}

.mission h2 {
    /* font-size: var(--text-medium);
    font-family: var(--font-family-anton); */
    margin-bottom: 1rem;
    text-align: center;
    /* font-weight: 600; */
}

.mission-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    align-items: stretch;
    /* height: 100%; */
}

.mission-item {
    flex: 0 0 calc(33.33% - 30px);
    background-color: var(--black);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    justify-self: center;
    text-align: center;
    transition: var(--transition-back);
    height: 100%;
}

.mission-item h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--accent-color);
}

.mission-item:hover {
    transition: var(--transition);
    transform: translateY(-10px);
    box-shadow: 0 10px 30px #dafc4444;
}

.mission-item i {
    font-size: 3rem;
    /* color: var(--accent-color); */
    margin-bottom: 10px;
    display: block;
}


.mission-item p {
    font-size: 1rem;
    color: var(--light2-color);
    line-height: 1.5;
    font-family: var(--font-family-geist);
}

@media (max-width: 900px){
    .mission-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    nav{
        /* flex-direction: column; */
        height: auto;
        padding: 1rem;
    }

    .nav-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* overflow: scroll; */
        overflow-x: hidden;
        position: absolute;
        right: -100%;
        top: 100%;
        /* height: calc(100vh - 100px); */
        /* background: var(--big-ol-gradient-2); */
        background: rgba(10, 10, 10, 0.8);
        opacity: 0.959;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        transition: var(--transition);
        border-radius: 0px 0 0 10px;
    }

    .nav-2.active {
        right: 0;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .hamburger{
        display: block;
        font-size: 1.5rem;
        color: var(--light-color);
    }

    hero-text h1{
        font-size: 2.5rem;
    }

    .feature-img{
        width: 100%;
    }

    .feature-2{
        flex-direction: column;
    }

    .feature-text, .about-text{
        width: 100%;
    }

    about{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .about-btn{
        width: 100%;
        margin-top: 2rem;
    }

    .os-text1, .os-text2{
        text-align: center;
    }
}

.textshine{
        -webkit-text-fill-color: transparent;
        background: linear-gradient(90deg, rgba(0, 102, 204, 0.8) 0%, #3cff52 25%, rgba(0, 102, 204, 0.8) 50%, #3cff52 75%, rgba(0, 102, 204, 0.8) 100%);
        background-size: 300% 200%;
        -webkit-background-clip: text;
        background-clip: text;
        animation: textshine 2s ease-in-out infinite alternate;
}

@keyframes textshine {
    0% {
        background-position: 0 50%;
    }

    15% {
        background-position: 0 50%;
    }
    85% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

nav, footer{
    background: linear-gradient(
    135deg,
    #121212 25%,
    #1a1a1a 25%,
    #1a1a1a 50%,
    #121212 50%,
    #121212 75%,
    #1a1a1a 75%,
    #1a1a1a
    );
    background-size: 40px 40px;

  /* Animation */
    animation: move 4s linear infinite;
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}