@import url('https://fonts.googleapis.com/css2?family=Geist&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Brand Colors */
    --primary-teal: #2f6a87;
    -warm-brown: #9a5131;
    --primary-color: rgb(234, 234, 234);      /* Fresh Green for buttons, highlights */
    --secondary-color: white;    /* Vibrant Orange for accents, calls to action */
    --accent-color: #ea6c36;       /* Bright Yellow for highlights, badges */

    /* Backgrounds & Layout */
    --background-light: #e7e7e7;   /* Soft light gray for page backgrounds */
    --card-bg: #ffffff;            /* Default card or section background */
    --highlight: #f6ea98	;

    /* Text Colors */
    --text-dark: #3b3b3b;          /* Slate gray for main text */
    --text-light: #f9f9f9;         /* Lighter gray for secondary text */

    /* Status Colors */
    --success-color: #2ecc71;      /* For streaks, badges, positive feedback */
    --error-color: #e74c3c;        /* For missed streaks or errors */

    /* Shadow / Border */
    --shadow-color: rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    --border-radius: 12px;

    --font-family: "SF Pro Display", sans-serif, "Geist", sans-serif;
    --font-size: 16px;

    --transition: all 0.3s ease; /* Smooth transitions for hover effects */
    --transition-back: all 0.7s ease; /* Smooth transitions for hover effects */
    --gradient1: linear-gradient(90deg, #7182ff 0, #3cff52 100%);
    --gradient2: linear-gradient(90deg, #ff6b6b 0, #f7d794 100%);
    --gradient3: linear-gradient(90deg, #ff9ff3 0, #feca57 100%);
    --gradient4: linear-gradient(90deg, #ff6b6b 0, #ff9f43 100%);
    --gradient5: linear-gradient(90deg, #ff9f43 0, #ff6b6b 100%);
    --gradient6: linear-gradient(90deg, #2f6a87 0, #9a5131 100%);
}

a{
    text-decoration: none;
    /* color: var(--text-dark); */
    transition: var(--transition);
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--gradient1);
    color: var(--text-dark);
}

body, html{
    width: 100%;
    height: 100%;
}

.primary-background{
    background: var(--gradient2);
}

.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-self: center;
    margin: 0 auto;
    /* margin-top: 5px; */
    align-items: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--card-bg);
    padding: 10px 20px;
    border: 2px solid var(--shadow-color);
    /* border-radius: var(--border-radius); */
    box-shadow: 0 4px 8px var(--shadow-color);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

.nav-links a{
    color: var(--card-bg);
    text-decoration: none;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    transition: var(--transition-back);
}

.navbar a:hover{
    color: var(--highlight);
    transition: var(--transition);
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    text-decoration: none;
    color: var(--card-bg);
}

.logo{
    padding: 0;
    height: 40px;
    width: auto;
    border-radius: var(--border-radius);
}

.logo img{
    height: 100%;
    width: auto;
    border-radius: var(--border-radius);
}

.logo img:hover{
    height: 100%;
    width: auto;
    border-radius: var(--border-radius);
}

.nav-links li{
    list-style: none;
    position: relative;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--highlight);
    transition: var(--transition-back);
}

.nav-links a:hover::after{
    width: 100%;
    transition: var(--transition);
}

.navbar ul li a {
    color: var(--text-dark);
}

.navbar ul li a:hover {
    color: var(--highlight);
}

.nav-links.active {
        right: 0;
    }

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--highlight);
    margin: 5px;
    transition: var(--transition);
}

@media screen and (max-width: 576px) {
    /* Navbar responsive*/
    .nav-links {
        position:absolute;
        display: none;
        top: 60px;
        height: calc(100vh-100px );
        background: var(--secondary-color);
        opacity: 0.959;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        transition: var(--transition);
        border-radius: 0px 0 0 10px;
        box-shadow: 0 4px 15px rgba(15, 48, 56, 0.5);
    }

    .nav-links.active {
        display:inherit;
    }

    .nav-links a{
        padding: 0;
    }

    .nav-links li {
        margin: 1rem 0;
        transition: var(--transition);
    }

    .burger {
        display: block;
    }

    .burger.toggle div:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
        transition: var(--transition);
    }

    .burger.toggle div:nth-child(2) {
        opacity: 0;
        transition: var(--transition);
    }

    .burger.toggle div:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
        transition: var(--transition);
    }

}

hero, .about{
    width: 100%;
    height: 80vh;
    display: flex;
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    /* background-image: url('/assets/hero-bg.jpg'); */
    background-size: cover;
    background-position: center;
}

.hero-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    color: var(--text-dark);
    font-size: 1.6rem ;
    padding: 2rem;
}

.headtile{
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #7182ff 0%, #3cff52 25%, #7182ff 50%, #3cff52 75%, #7182ff 100%);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: textshine 3s ease-in-out infinite alternate;
}

.hero-content p{
    font-size: 1.2rem;
    /* padding-top: 1rem; */
}

.btn{
    background-color: var(--accent-color);
    color: var(--text-dark);
    font-size: 1.2rem;
    text-align: center;
    align-self: center;
    display: inline-block;
    width: max-content;
    height: max-content;
    padding: 12px 20px;
    /* padding-bottom: 20px; */
    font-weight:700;
    font-size: 1rem;
    text-decoration: none;
    border-radius: var(--border-radius);
}

.btn:hover{
    background-color: var(--card-bg);
    /* color: var(--text-light); */
    transition: var(--transition);
}

.hero-content a{
    transition: var(--transition);
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25rem;
    color: var(--text-dark);
    padding: 2rem 5rem 4rem 5rem;
    text-align: center;
    font-size: 1.2rem;
    gap: 3rem;
}

h2{
    font-size: 2rem;
    color: var(--text-dark);
}

@keyframes textshine {
    0% {
        background-position: 0 50%;
    }
    15% {
        background-position: 0 50%;
    }
    85% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 100% 100%;
    }
}

@media (max-width: 768px) {
    .hero-content {
        font-size: 1.2rem;
    }
}

@media (max-height: 600px) {
    hero{
        height: 100vh;
    }
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 2rem; */
    gap: 2rem;
    width: 100%;
    padding: 2rem 5rem;
}